/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: black;
}

.main-table {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color:rgb(255, 255, 255);
    width: 100%;
    height: 30px;
    padding: 0px 15px;
    border-bottom: 1px solid rgb(0, 0, 0);
}

.main-table div {
    width: 20vw;
}

.main-table:last-child {
    border-radius: 0px 0px 8px 8px;
}

.title-table {
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 8px 8px 0px 0px;
}

/* FORM */
.main-container {
    margin: 50px 5vw;
}

#main-form {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    border-radius: 10px;
    padding: 150px 150px;
    background-color: aliceblue;
}

#main-form div {
    margin-bottom: 10px;
}

#main-form div:last-child {
    margin-bottom: 0px;
}

.read-container {
    display: flex;
    flex-direction: row;
}

.hide-form {
    visibility: hidden;
}

.form-btn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: white;
    height: 40px;
    width: 40px;
    font-size: 35px;
    border-radius: 40px;
    margin-bottom: 20px;
    margin-right: 20px;
}

#form-read {
    padding: 10px;
    display: flex;
}

#form-read p {
    margin-right: 10px;
}

#submitBtn {
    cursor: pointer;
    background-color: rgb(0, 119, 255);
    color: white;
    font-size: 17px;
    border: 0px;
    padding: 8px 16px;
    border-radius: 8px;
}

.opacity-bg {
    opacity: 0.1;
    transition: opacity 0.2s ease;
}

/* Btn */
.delete-btn-style::after {
    background-color: rgb(255, 0, 0);
    color: white;
    padding: 2px 5px;
    cursor: pointer;
    content: 'x';
    font-weight: bold;
    border-radius: 4px;
}

/* Read Slider Button */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 20px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .1s;
    transition: .1s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 12px;
    bottom: 2px;
    
    background-color: white;
    -webkit-transition: .1s;
    transition: .1s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 10px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }